<!DOCTYPE html>

<html>
	<head>
		<script src="javascripts/moment.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	    <script src="javascripts/calendarApi.js"></script>
	    <script src="javascripts/homePage.js"></script>
	    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
	    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	</head>
	<body>
		<div id="container">
			<img class="bg-image" style="background: url('/images/appdHomePageImage.png') no-repeat center center; background-size: cover;"></img>
			<div class="imgtext">
				<h1 id="title">LunchDynamics</h1>
				<h2 id="description">The next generation of lunch intelligence has arrived.</h2>
			</div>
		</div>
		<div class="blankspace"></div>
		<div class="text-center">
			<p class="times">The current time is: <span id="currentTime"></span></p>
			<p class="times" id="nextEvent"></p>
			<p class="times" id="lastLine" style="display:none">Here are the restaurants you can get <input id="foodInput" type="text" value="any type of" style="margin-bottom:14px;"></input> food from within that time:<p>
<!-- 		</div>

						<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  	Any type of
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="#">Asian</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#">Separated link</a></li>
				  </ul>
				</div> -->

		<div id="authorize-div" style="display: none">
      		<span>Authorize access to Google Calendar API</span>
      		<!--Button for the user to click to initiate auth sequence -->
      		<button id="authorize-button" onclick="handleAuthClick(event)">
        	Authorize
      		</button>
      	</div>

	<div id="ov" class="overlay">
		<div class="overlay-content-container">
			<div class="overlay-top-bar">
				<span class="glyphicon glyphicon-remove close-button"></span>
			</div>
			<h2 class="overlay-header">Dragon Eats</h2>

			<div class="star-ratings">
				<div class="yelp-rating">Yelp Rating :
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
				<div class="appd-rating">AppDynamo Rating :
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>

			<img class="bahnmi" src="images/bahnmi.jpg"/>

			<textarea class="review-text-area" placeholder="Add a review!"></textarea>

			<div class="first-text-review">
				<h4 style="float:left;">Xiang Yu (SIM Team):</h4>
				<div style="float:left;">“I love Dragon Eats! Our team goes every Friday and it’s always delicious.”</div>
			</div>

			<div class="second-text-review">
				<h4 style="float:left;">Anonymous (APM Team):</h4>
				<div style="float:left;">“There’s usually a long line close to noon but it goes pretty fast.”</div>
			</div>

		</div>
	</div>

	</body>

</html>